*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: azure;
}
.container {
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  height: 100vh;
  margin: auto;
  padding: 1rem;
}
.preview {
  border: 1px solid black;
  margin: 1rem 0;
}
.preview img{
  max-width: 100%;
  height: 350px;
  object-fit: contain;
}
.upload{
  margin: 1rem 0;
}
.upload input {
  padding: 0.5rem 3rem;
  font-size: 1rem;
}
.submit {
  padding: 0.3rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}
.string {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0;
}
.clear{
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: red;
  border: none;
  color: white;
}